In [1]:
import pandas as pd

/tmp/ipykernel_23860/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
df = pd.read_csv('estudiantes.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'estudiantes.csv'

In [3]:
print(df)

    NOMBRE  EDAD GENERO       CARRERA SEMESTRE
0   Victor    28      M     Auditoria  Primero
1   Josefa    23      F   Informatica  Primero
2     Raul    26      M       Derecho   Quinto
3  Mariana    27      F   Informatica  Septimo
4  Rodrigo    22      M       Derecho  Tercero
5  Gustavo    25      M  Arquitectura  Septimo
6     Lucy    23      F   Informatica  Primero
7    Sofia    24      F      Economia   Noveno

In [5]:
df

    NOMBRE  EDAD GENERO       CARRERA SEMESTRE
0   Victor    28      M     Auditoria  Primero
1   Josefa    23      F   Informatica  Primero
2     Raul    26      M       Derecho   Quinto
3  Mariana    27      F   Informatica  Septimo
4  Rodrigo    22      M       Derecho  Tercero
5  Gustavo    25      M  Arquitectura  Septimo
6     Lucy    23      F   Informatica  Primero
7    Sofia    24      F      Economia   Noveno

In [13]:
convertir = pd.read_excel('estudiantes.xlsx')

In [14]:
convertir.to_csv('estudiantes.csv', index=None, header=True)

In [15]:
convertir

    NOMBRE  EDAD GENERO       CARRERA SEMESTRE
0   Victor    28      M     Auditoria  Primero
1   Josefa    23      F   Informatica  Primero
2     Raul    26      M       Derecho   Quinto
3  Mariana    27      F   Informatica  Septimo
4  Rodrigo    22      M       Derecho  Tercero
5  Gustavo    25      M  Arquitectura  Septimo
6     Lucy    23      F   Informatica  Primero
7    Sofia    24      F      Economia   Noveno

In [16]:
df2 = pd.DataFrame(pd.read_csv('estudiantes.csv'))

In [17]:
df2

    NOMBRE  EDAD GENERO       CARRERA SEMESTRE
0   Victor    28      M     Auditoria  Primero
1   Josefa    23      F   Informatica  Primero
2     Raul    26      M       Derecho   Quinto
3  Mariana    27      F   Informatica  Septimo
4  Rodrigo    22      M       Derecho  Tercero
5  Gustavo    25      M  Arquitectura  Septimo
6     Lucy    23      F   Informatica  Primero
7    Sofia    24      F      Economia   Noveno